
</main>
<footer class="page-footer blue-grey darken-3">
  <div class="footer-copyright">
    <div class="container">
    © 2016 Noémie Brocheray
    </div>
  </div>
</footer>

<!-- Add another js library like jquery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/stylesheets/style.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

 </body>

</html>
