<!DOCTYPE html>
<html lang="en">
 <head>
 <meta charset="utf-8">
 <title>Social Music</title>
 <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

 <!-- HTML5 shim, for IE6-8 support of HTML elements -->
 <!--[if lt IE 9]>
 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->
 </head>
 <body>
   <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
  </ul>
