<% include partials/header %>
<div class="container">

  <div class="row">
    <div class="col s8 offset-s2">
      <h1 class="center">ÉDITER UNE CHANSON</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s2 edit">
       <%if (err) {%>
            <div style="color:red"><%=err%></div>
            <hr/>
       <%} %>
       <form method="POST" action="/songs/<%= song._id%>?_method=put" class="form-bg">
            <% include _formSong %>
            <button type="submit" class="btn light-blue lighten-1 right">Valider</button>
       </form>
     </div>
   </div>
 </div>
<% include partials/footer %>
