<% include partials/header %>
<div class="container">
  <div class="row login">
    <div class="col s4 offset-s4">
        <h1 class="center">CONNEXION</h1>
            <form action="/login" method="post">
                <div>
                    <label for="username">Login</label>
                        <input type="text" class="validate" name="username" id="username" placeholder="login">
                </div>
                <div>
                    <label for="password">Password</label>
                        <input type="password" class="validate" name="password" id="password" placeholder="password">
                </div>
                <div>
                    <button type="submit" class="waves-effect waves-light btn light-blue btn-large lighten-1 center-align">Se connecter</button>
                </div>
            </form>
            <hr><a href="/signup"><h5 class="center">INSCRIPTION</h5></a><hr>
        </div>
    </div>
  </div>

<% include partials/footer %>
